In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
nfod_df = pd.read_csv('C:/Users/Michelle/Documents/DA13/Python/data/NonfatalOD_Downloadable_Data_2013_2022.csv')

In [3]:
fod_df = pd.read_csv('C:/Users/Michelle/Documents/DA13/Python/data/FatalOD_Downloadable_Data_2013_2022.csv')

In [42]:
pres_df = pd.read_csv('C:/Users/Michelle/Documents/DA13/Python/data/Prescription_Downloadable_Data_2013_2023.csv')

In [5]:
nfod_df.head()

,year,geography,geography_type,indicator,value,value_type,demographics,demographic_type,included
0,2013,Anderson,County,Inpatient Involving Amphetamine Overdose Inclu...,0.0,Count,NaN,NaN,No
1,2013,Anderson,County,Outpatient Involving Amphetamine Overdose Incl...,0.0,Count,NaN,NaN,No
2,2013,Anderson,County,Inpatient Cocaine Overdose,0.0,Count,NaN,NaN,No
3,2013,Anderson,County,Outpatient Visits Involving Cocaine Overdose,0.0,Count,NaN,NaN,No
4,2013,Anderson,County,Inpatient Heroin Overdose,0.0,Count,NaN,NaN,No

In [6]:
fod_df.head()

,year,geography,geography_type,indicator,value,value_type,demographics,demographic_type,included
0,2013,Anderson,County,Stimulant Death,1.0,Count,NaN,NaN,No
1,2013,Anderson,County,Benzodiazepine Death,8.0,Count,NaN,NaN,No
2,2013,Anderson,County,Cocaine Death,0.0,Count,NaN,NaN,No
3,2013,Anderson,County,Fentanyl Death,0.0,Count,NaN,NaN,No
4,2013,Anderson,County,Heroin Death,0.0,Count,NaN,NaN,No

In [44]:
pres_df.head()

   year geography geography_type            indicator  value value_type
0  2013  Anderson         County  All Benzodiazepines  55273      Count
1  2013  Anderson         County           Alprazolam  22635      Count
2  2013  Anderson         County           Clonazepam  10779      Count
3  2013  Anderson         County             Diazepam   7208      Count
4  2013  Anderson         County            Lorazepam  10119      Count

In [8]:
##renaming the indicator column

In [9]:
fod_df=fod_df.rename(columns={'indicator':'death_type'})

In [10]:
fod_df.head()

,year,geography,geography_type,death_type,value,value_type,demographics,demographic_type,included
0,2013,Anderson,County,Stimulant Death,1.0,Count,NaN,NaN,No
1,2013,Anderson,County,Benzodiazepine Death,8.0,Count,NaN,NaN,No
2,2013,Anderson,County,Cocaine Death,0.0,Count,NaN,NaN,No
3,2013,Anderson,County,Fentanyl Death,0.0,Count,NaN,NaN,No
4,2013,Anderson,County,Heroin Death,0.0,Count,NaN,NaN,No

In [11]:
##obtaining the value counts for each type of drug

In [12]:
fod_drug=fod_df['death_type'].value_counts()

In [13]:
fod_drug.head()

death_type
All Drug Overdose Deaths     2440
Cocaine Death                2005
Heroin Death                 1984
Fentanyl Death               1941
Opioids and Any Stimulant    1914
Name: count, dtype: int64

In [14]:
nfod_df=nfod_df.rename(columns={'indicator':'od_type'})

In [15]:
nfod_df.head()

,year,geography,geography_type,od_type,value,value_type,demographics,demographic_type,included
0,2013,Anderson,County,Inpatient Involving Amphetamine Overdose Inclu...,0.0,Count,NaN,NaN,No
1,2013,Anderson,County,Outpatient Involving Amphetamine Overdose Incl...,0.0,Count,NaN,NaN,No
2,2013,Anderson,County,Inpatient Cocaine Overdose,0.0,Count,NaN,NaN,No
3,2013,Anderson,County,Outpatient Visits Involving Cocaine Overdose,0.0,Count,NaN,NaN,No
4,2013,Anderson,County,Inpatient Heroin Overdose,0.0,Count,NaN,NaN,No

In [48]:
pres_df=pres_df.rename(columns={'indicator':'drug_name'})

In [50]:
pres_df.head()

   year geography geography_type            drug_name  value value_type
0  2013  Anderson         County  All Benzodiazepines  55273      Count
1  2013  Anderson         County           Alprazolam  22635      Count
2  2013  Anderson         County           Clonazepam  10779      Count
3  2013  Anderson         County             Diazepam   7208      Count
4  2013  Anderson         County            Lorazepam  10119      Count

In [38]:
##Counts of each drug

In [52]:
pres_drug_count=pres_df['drug_name'].value_counts()

In [54]:
pres_drug_count

drug_name
All Benzodiazepines     3597
Alprazolam              3597
Clonazepam              3597
Diazepam                3597
Lorazepam               3597
All Opioids for Pain    3597
Hydrocodone             3597
Oxycodone               3597
Tramadol                3597
Name: count, dtype: int64